#wheel-of-fortune {
  display: inline-block;
  position: relative;
  overflow: hidden;
}

#wheel {
  display: block;
  position: absolute;
  top: 12px;
  left: 12px;
}

#spin {
  font-size: 12px;
  text-transform: uppercase;
  user-select: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 14%;
  height: 14%;
  margin: -7%;
  //   background: #fff;
  color: #fff;
  //   box-shadow: 0 0 0 8px currentColor, 0 0px 15px 5px rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  transition: 0.8s;
}

// #spin::after {
//   content: '';
//   position: absolute;
//   top: -17px;
//   border: 10px solid transparent;
//   border-bottom-color: #223c9c;
//   border-top: none;
// }

.wheel-border-1 {
  height: 290px;
  width: 290px;
  border-radius: 50%;
}

.wheel-border-2 {
  position: absolute;
  top: 10px;
  left: 10px;
  height: 270px;
  width: 270px;
  border-radius: 50%;
  background-color: #f3f4ea;
}

.triangle {
  position: absolute;
  top: -11px;
  width: 0;
  height: 0;
  border-left: 5.5px solid transparent;
  border-right: 5.5px solid transparent;
  border-bottom: 11px solid #223c9c;
}
