<div class="main-container">
  <div class="header d-flex align-items-center p-3">
    <button mat-icon-button [matMenuTriggerFor]="accountMenu">
      <mat-icon class="large-icon">account_circle</mat-icon>
    </button>
    <mat-menu #accountMenu="matMenu">
      <button mat-menu-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        Đăng xuất
      </button>
    </mat-menu>
    <div class="ml-2">
      <p>Username: {{ username }}</p>
      <p>Số điện thoại: {{ msisdn }}</p>
    </div>
  </div>



  <h2 class="game-title">{{ game?.nameGame }}</h2>
  <div class="wheel-container text-center p-3">
    <dft-wheel-of-fortune [gameId]="game.id" [prizes]="sector" [font]="game.fontType" [fontSize]="game.fontSize"
      [borderColor]="game.borderColor" [spinButtonColor]="game.borderColor" [spinDuration]="game.timeSpin"
      [spinSound]="audioUrl" (spinClick)="spinClick()" (spinFinished)="spinFinished($event)" (click)="onWheelClick()"
    >

    </dft-wheel-of-fortune>
    <p class="mt-3">
      Bạn còn <span class="spin-count">{{ remainingPlays }}</span> lượt chơi
    </p>
  </div>

  <div class="actions-section d-flex flex-column align-items-center">
    <p class="daily-mission-title">Nhiệm vụ thêm lượt quay</p>
    <div class="daily-mission-card d-flex justify-content-between align-items-center">
      <div class="mission-info d-flex">
        <mat-icon class="mission-icon">person</mat-icon>
        <div>
          <span class="mission-title">Điểm danh hằng ngày</span>
          <p class="mission-description">Giải thưởng x 1 lượt quay, tối đa 1 lần/ngày</p>
        </div>
      </div>
      <button mat-raised-button color="accent" class="mission-button" [disabled]="checkedIn" (click)="doTaskLogin()">
        Thực hiện
      </button>
    </div>
  </div>

  <div class="footer-container">
    <div class="footer-buttons d-flex justify-content-around mt-4">
      <button mat-raised-button color="accent" class="footer-button" (click)="viewReceivedPrizes()">
        <mat-icon>card_giftcard</mat-icon>
        Quà đã nhận
      </button>
      <button mat-raised-button color="accent" class="footer-button" (click)="viewHistory()">
        <mat-icon>history</mat-icon>
        Lịch sử
      </button>
    </div>
  </div>
</div>
