  /* Căn chỉnh và định dạng phần header */
  .header {
    display: flex;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
  }

  .large-icon {
    height: auto;
    width: auto;
    font-size: 65px;
    color: #007bff;
  }

  /* Định dạng phần vòng quay */
  .wheel-container {
    text-align: center;
  }

  .spin-count {
    color: #007bff;
  }

  /* Nút màu */
  .mat-primary {
    background-color: #ffc107 !important; /* Màu vàng */
    color: #ffffff;
  }

  .mat-accent {
    background-color: #007bff !important; /* Màu xanh dương */
    color: #ffffff;
  }

  .game-title {
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    font-size: 28px;
    margin: 0;
  }
  .main-container {
    background-color: #66B2FF;
    min-height: 100vh;
    //padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer-container {
    width: 100%;
    background-color: #4a80f0; /* Màu nền của footer */
    padding: 20px 0;
    box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.15); /* Bóng đổ phía trên */
    display: flex;
    justify-content: center;
  }

  /* Định dạng các nút trong footer */
  .footer-buttons {
    width: 100%;
    max-width: 400px;
    display: flex;
  }

  .footer-button {
    min-width: 130px;
    height: 50px;
    border-radius: 30px; /* Bo tròn nút */
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    background-color: #3a6cf0;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.2); /* Bóng đổ cho nút */
  }

  /* Tạo khoảng cách giữa icon và text */
  .footer-button mat-icon {
    margin-right: 8px;
  }
  button[mat-raised-button] {
    color: #ffffff;
    border-radius: 30px;
    min-width: 150px;
  }
  .actions-section {
    width: 95%;
    margin-top: auto;
    position: relative;
  }

  .daily-mission-title {
    font-size: 18px;
    color: #f8a105;
    margin-bottom: 8px;
    background-color: #efebde;
    border-radius: 7px 7px 25px 25px;
    padding: 8px 16px;
    position:absolute;
    top: -15px;
    z-index: 1;
  }

  .daily-mission-card {
    background-color: #ffffff;
    border-radius: 15px 15px 0 0;
    padding: 35px 15px 15px 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15); /* Bóng đổ cho thẻ */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .mission-info {
    display: flex;
  }

  .mission-icon {
    font-size: 30px;
    color: #f0b64f;
    margin-right: 10px;
  }

  .mission-title {
    font-weight: bold;
    color: #f0b64f;
    text-align: left;
  }

  .mission-description {
    color: #666666;
    font-size: 12px;
    margin: 0;
    text-align: left;
  }

  .mission-button {
    border-radius: 30px;
    background-color: #3a6cf0;
    color: #ffffff;
    margin-left:5px;

    //min-width: 130px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.2); /* Bóng đổ cho nút */
  }
  .mission-button[disabled] {
    background-color: #d3d3d3 !important; /* Màu ghi cho trạng thái disabled */
    color: #9e9e9e; /* Màu chữ nhạt hơn cho disabled */
    cursor: not-allowed; /* Đổi con trỏ chuột */
  }
  .floating-alert {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
