<div class="modal-wrapper">
  <div class="modal-content">
    <div class="modal-header">
      <p class="modal-title">{{ title }}</p>
    </div>
    <button type="button" class="close-button" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
    <div class="modal-body">
      <div class="icon-container">
        <mat-icon class="check-icon" *ngIf="icon">{{ icon }}</mat-icon>
      </div>
      <div>
        <p [innerHTML]="message"></p>
      </div>
    </div>
  </div>
</div>
