/* Định dạng modal */
.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(251, 251, 251, 0.4); /* Màu nền tối để che mờ phía sau */
  z-index: 1000; /* Đảm bảo modal hiển thị trên cùng */
}
.modal-content {
  width: 90%;
  max-width: 70%;
}

.modal-header {
  position: absolute;
  top: -7%;
}

.close-button {
  top: 10px;
  right: 10px;
  border: none;
  cursor: pointer;
}

.modal-body {
  padding: 10px;
  max-height: 300px;
  overflow-y: auto;
  width: 100%;
  margin-top: 15px;
  display: flex;
  flex-direction: column; /* Để xếp chồng icon và text */
  align-items: center; /* Căn giữa tất cả các thành phần theo chiều ngang */
}

.icon-container {
  width: 100%;
  display: flex;
  justify-content: center; /* Căn giữa biểu tượng */
  margin-bottom: 10px; /* Khoảng cách giữa icon và text */
}

.check-icon {
  color: #007bff;
  font-size: 100px;
  height: auto;
  width: 100%;
  background-color: #ffffff;
  text-align: center;
}
.spin-count {
  color: #007bff;
}

.message{
  text-align: center;
}
.prize-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.prize-item {
  display: flex;
  align-items: center;
  background-color: #f1f8ff;
  border-radius: 10px;
  padding-left: 10px;
  margin-bottom: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.prize-image {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  margin-right: 15px;
}

.prize-details {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 10px;
}

.prize-name {
  font-size: 16px;
  font-weight: bold;
  color: #333;
  margin: 0;
}

.prize-time {
  display: flex;
  align-items: center;
  padding: 0;
  margin-bottom: 10px;
  width: 100%;
}

.prize-image{
  width: 50px;
  height: 50px;
}
